.media_scroller {
  white-space: nowrap;
  width: 100vw;
  height: 25vh;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
  position: fixed;
  background-color: #cbd5e150;
  bottom: 0px;
  margin-bottom: 1rem;
}

.media_element {
  display: inline-block;
  height: 100%;
  padding: 1rem;
}

.media_element > img {
  object-fit: cover;
  display: inline;
  height: 100%;
  width: auto;
  aspect-ratio: 3/2;
  border-radius: 0.2rem;
}
